---

const navItems = [
  {
    title: 'Experiencia',
    label: 'experiencia',
    url: ''
  },
  {
    title: 'Proyectos',
    label: 'proyectos',
    url: ''
  },
  {
    title: 'Sobre mi',
    label: 'experiencia',
    url: ''
  },
  {
    title: 'Contacto',
    label: 'contacto',
    url: ''
  }
];

---

<header>
  <nav>
    {navItems.map((nav) => (
      <a 
      href={nav.url}
      class="h-nav-a"
      aria-label={nav.label}
      >
        {nav.title}
      </a>
    ))}
  </nav>
  <div class="moving-dot"></div>
</header>

<style>
  header {
    position: fixed;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 600px;
    border-radius: 10px;
    z-index: 50;
    background-color: hsla(300, 1%, 36%, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.322);
  }
  
  nav {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }

  .h-nav-a {
    color: rgb(163, 161, 156);
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }

  .h-nav-a:hover {
    color: #ffffff;
  }

  
  /* .moving-dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow: 0 0 4px rgb(255, 255, 255);
    animation: moveDot 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    transform: translate(-50%, -50%);
}

@keyframes moveDot {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    75% {
        top: 100%;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
} */
  

</style>



